<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ver citas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
  <h1 align="center">
    Listado de citas
  </h1>
  <br>
  <p align="center">
    <a th:href="@{/citas/anadir}" class="btn btn-success btn-block">Solicitar cita </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a th:href="@{/}" class="btn btn-secondary btn-block">Ir al inicio</a>
  </p>

  <table class="table" border="3">
    <thead>
    <tr>
      <th>Nombre del paciente</th>
      <th>Procedimiento</th>
      <th>Nombre del especialista</th>
      <th>Fecha de atención</th>
      <th>Hora de atención</th>
      <th>Consultorio</th>
      <th>Opciones</th>

    </tr>

    </thead>
    <tbody>
    <tr th:each="cita:${citas}">
      <td th:text="${cita.nombrePaciente}"></td>
      <td th:text="${cita.procedimiento}"></td>
      <td th:text="${cita.nombreEspecialista}"></td>
      <td th:text="${cita.fechaAtencion}"></td>
      <td th:text="${cita.horaAtencion}"></td>
      <td th:text="${cita.consultorio}"></td>
      <td>
        <a th:href="@{/citas/editar/}+${cita.id}" class="btn btn-warning">Modificar datos</a>
        &nbsp;&nbsp;&nbsp;
        <a th:href="@{/citas/eliminar/}+${cita.id}"  class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>