<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Datos cita</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
  <div class="col-sm-6">
    <form th:action="@{/citas/guardar}" th:object="${cita}" method="POST">
      <div class="card">
        <div class="card-header">
          <h1>
            Solicitar cita
          </h1>
        </div>
        <div class="card-body">
          <a th:href="@{/citas}" class="btn btn-warning">Cancelar y regresar al inicio</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a th:href="@{/citas}" class="btn btn-warning">Cancelar y regresar a la lista de citas</a>
          <br>&nbsp;
          <div class="form-group">
            <p>
              <label>ID</label>
            </p>
            <input th:field="*{id}" type="text" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <p>
              <label>Nombre del paciente</label>
            </p>
            <input th:field="*{nombrePaciente}" type="text" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <p>
              <label>Procedimiento</label>
            </p>
            <input th:field="*{procedimiento}" type="text" class="form-control">
          </div>
        </div>
        <div class="card-footer">
          <input type="submit" value="Guardar" class="btn btn-success">
        </div>
      </div>

    </form>

  </div>
</div>
<table>

</table>
</body>
</html>