<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
  <a th:href="@{/new}" class="btn btn-primary">Generar cita</a>
  <table class="table" border="=3">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nombre del paciente</th>
      <th>Procedimiento</th>
      <th>Nombre del especialista</th>
      <th>Fecha de atención</th>
      <th>Hora de atención</th>
      <th>Opciones</th>

    </tr>

    </thead>
    <tbody>
    <tr th:each="paciente:${pacientes}">
      <td th:text="${paciente.id}"></td>
      <td th:text="${paciente.nombrePaciente}"></td>
      <td th:text="${paciente.procedimiento}"></td>
      <td th:text="${paciente.nombreEspecialista}"></td>
      <td th:text="${paciente.fechaAtención}"></td>
      <td th:text="${paciente.horaAtención}"></td>
      <td>
        <a th:href="@{pacientes/editar/}+${persona.id}" class="btn btn-warning">Modificar datos</a>
        <a th:href="@{pacientes/eliminar/}+${persona.id}"  class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<table>

</table>
</body>
</html>
